.container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.testimonial-image {
    width: 25%;
    margin: 0 15px 30px 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

.testimonial-image image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 15px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.testimonial-profile {
    width: 100%;
}

.container-rating-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-btn {
    padding: 0 20px;
    font-size: 15PX;
    font-weight: bold;
    color: white;
    background-color: darkred;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .testimonial {
        width: 40%;
    }
} 

@media only screen and (max-width: 700px) {
    .testimonial {
        width: 100%;
    }
}

